
.login-box {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    vertical-align: middle;  
    height: min-content;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  }

  
  .account-img {
    width: 40%;
    float: left;
  }

  .account-img img {
    width: 100%;
 
  }

  
  .account-form {
    width: 60%;
    float: right;
    padding: 50px 80px;
  }
 