<div class="dashboard">

    <div class="task-info">

        <div class="task-box bg-clr-blue">
            <div class="task-box-left">
                <p>Total task</p>
                <span>00</span>
            </div>
            <div class="task-box-right">
                <i class="fas fa-tasks"></i>
            </div>
        </div>
        <div class="task-box bg-clr-red">
            <div class="task-box-left">
                <p>Pending task</p>
                <span>00</span>
            </div>
            <div class="task-box-right">
                <i class="fas fa-history"></i>
            </div>
        </div>
        <div class="task-box bg-clr-green">
            <div class="task-box-left">
                <p>Completed task</p>
                <span>00</span>
            </div>
            <div class="task-box-right">
                <i class="fas fa-calendar-check"></i>
            </div>
        </div>

    </div>

</div>

<div class="task-chat">
    <div class="chat-heading">
        <h6>Notification</h6>
    </div>

    <div class="notification">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hey Mukul!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hey Mukul!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>

</div>