.task-body {
    width: 100%;
    float: left;
    padding: 15px;
    padding-top: 65px !important;
    height: 100%;
    overflow: auto;
  }

  .alert-light {
    background-color: #fcfcfc !important;
  }
  
  .bg-color-green {
    background: forestgreen;
  }

  .color-white {
    color: #fff;
  }

  .color-black {
    color: #333 !important;
  }

  .color-grey {
    color: #888 !important;
  }

  .color-status {
    color: #5ec576;
  }

  .task-body input:disabled {
    background: transparent;
    border: none;
  }

   
  .savebutton {
    float: right;
    padding: 0px 10px;
    border-radius: 5px;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
  }

  button:focus {
      outline: none  !important;
  }


  .heading {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08), 0 1px 6px rgba(0, 0, 0, 0.08);
    font-weight: bold;
}

.bg-fff {
    background: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08), 0 1px 6px rgba(0, 0, 0, 0.08);
    padding: 15px;
}

.edit-profile {
    padding: 0px 10px;
    border-radius: 5px;
    color: #fff;
  }

  .validation-error {
    width: 100%;
    color: red;
    font-size: 12px;
    text-align: left;
    margin-bottom: 8px;
  }