<div class="task-body">
    <form [formGroup]="changePassword" (ngSubmit)="updatePassword()">
        <div class="heading" role="alert">
            Change Password
            <a class="text-decoration-none mr-2 edit-profile float-right" href="javascript:void(0);"
                (click)="cancelEditProfile()">
                Cancel</a>
            <button class="savebutton" type="submit" id="showBtn">Save Changes</button>
        </div>

        <div class="bg-fff">
            <div class="form-group row">
                <label for="inputCurrentPassword" class="col-sm-2 col-form-label">Current Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputCurrentPassword" placeholder=""
                        formControlName="currentPassword" required="">
                    <div class="validation-error"
                        *ngIf="changePassword.controls['currentPassword'].invalid &&(changePassword.controls['currentPassword'].dirty ||changePassword.controls['currentPassword'].touched)">
                        <div *ngIf="changePassword.controls['currentPassword'].errors.required">Please Fill The Box.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputNewPassword" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputNewPassword" placeholder=""
                        formControlName="newPassword" required="" minlength="6" maxlength="25">
                    <div class="validation-error"
                        *ngIf="changePassword.controls['newPassword'].invalid &&(changePassword.controls['newPassword'].dirty ||changePassword.controls['newPassword'].touched)">
                        <div *ngIf="changePassword.controls['newPassword'].errors.required">Please Fill The Box.</div>
                        <div *ngIf="changePassword.controls['newPassword'].errors.minlength">Password is too short.
                        </div>
                        <div *ngIf="changePassword.controls['newPassword'].errors.maxlength">Password is too long.</div>
                        <div *ngIf="changePassword.controls['newPassword'].errors.pattern">Use Only These Symbols / . _
                            @.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputConfirmPassword" placeholder=""
                        formControlName="confirmPassword" required="" minlength="6" maxlength="25">
                    <div class="validation-error"
                        *ngIf="changePassword.controls['confirmPassword'].invalid &&(changePassword.controls['confirmPassword'].dirty ||changePassword.controls['confirmPassword'].touched)">
                        <div *ngIf="changePassword.controls['confirmPassword'].errors.required">Please Fill The Box.
                        </div>
                        <div *ngIf="changePassword.controls['confirmPassword'].errors.minlength">Password is too short.
                        </div>
                        <div *ngIf="changePassword.controls['confirmPassword'].errors.maxlength">Password is too long.
                        </div>
                        <div *ngIf="changePassword.controls['confirmPassword'].errors.pattern">Use Only These Symbols /
                            . _ @.
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>


</div>